<%- include('../partials/emp-client-head', {title: 'Client Search', type: 'Employee'}) %>

<body>
  
    <div class="container">
      <h2>Client Search</h2>

      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Client Name</th>
            <th>Email</th>
            <th>Phone</th>
            <!-- <th>Username</th> -->
            <th></th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% for(var i=0; i < clients.length; i++) { %>
          <tr>
            <td><%= clients[i].clientFN %> <%= clients[i].clientLN %></td>
            <td><%= clients[i].clientEmail %></td>
            <td><%= clients[i].clientPhone %></td>
            
            <td><a href="/emp_clients_edit?clientId=<%= clients[i].clientID %>">Edit</a></td>
            
            <td style="display: none;" name="clientId"><%= clients[i].clientID %></td>
            
          </tr>
          <% } %>
        </tbody>

        
      </table>
    
      <a href="/emp_clients_search/previous" class="previous round">&#8249;</a>
      <a href="/emp_clients_search/next" class="next round">&#8250;</a>
    

  </body>
  </html>