<%- include('../partials/emp-client-head', {title: 'Reservation Search', type: type}) %>

<body>
    <div class="container">
      <h2>Pet Search</h2>
      <% if(type == 'Employee') { %>

        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>Reservation ID</th>
                    <th>Client Name</th>
                    <th>Pet Name</th>
                    <th>Arrival Date</th>
                    <th>Departure Date</th>
                    <th>Kennel ID</th>
                    <th>Emp ID</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        
          <tbody>
            <% for(var i=0; i < pets.length; i++) { %>
            <tr>
              <td><%= pets[i].petName %></td>
              <td><%= owner_names[i] %></td>
              <td><%= pets[i].petType %></td>
              <td><%= pets[i].petBreed %></td>
              <td><%= pets[i].petSex %></td>
              <td><%= pets[i].petDOB %></td>
              <td><%= pets[i].petWeight %></td>
              
              <td><a href="/pets_edit?petId=<%= pets[i].petID %>">Edit</a></td>
              
              <td style="display: none;" name="petID"><%= pets[i].petID %></td>
              
            </tr>
            <% } %>
          </tbody>
        </table>
      
        <a href="/pets_search/previous" class="previous round">&#8249;</a>
        <a href="/pets_search/next" class="next round">&#8250;</a>

        <% } else if (type == 'Client') { %>

          <table class="table table-inverse">
            <thead>
              <tr>
                <th>Pet Name</th>
                <th>Pet Type</th>
                <th>Pet Breed</th>
                <th>Pet Sex</th>
                <th>Pet DOB</th>
                <th>Pet Weight</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
          
            <tbody>
              <% for(var i=0; i < pets.length; i++) { %>
              <tr>
                <td><%= pets[i].petName %></td>
                <td><%= pets[i].petType %></td>
                <td><%= pets[i].petBreed %></td>
                <td><%= pets[i].petSex %></td>
                <td><%= pets[i].petDOB %></td>
                <td><%= pets[i].petWeight %></td>
                
                <td><a href="/pets_edit?petId=<%= pets[i].petID %>">Edit</a></td>
                
                <td style="display: none;" name="petID"><%= pets[i].petID %></td>
                
              </tr>
              <% } %>
            </tbody>
          </table>
        
          <a href="/pets_search/previous" class="previous round">&#8249;</a>
          <a href="/pets_search/next" class="next round">&#8250;</a>
        
      <% } else { %>
          <p> Error with accessing user data</p>
      <% } %>
    </div>
</body>
</html>