<%- include('../partials/emp-client-head', {title: 'Transaction Search', type: 'Employee'}) %>

<style>
    input[readonly] {
      color: gray; /* Set the text color to gray for readonly*/
    }
  </style>
  
<body>
    <div class="container">
      <h2>Transaction Information:</h2>

      <form class="form-group" action="/update_transaction/<%= found_trans.TID %>" method="post">
        <label for="transDate">Transaction Date:</label>
        <input type="text" id="transDate" name="transDate" value="<%= found_trans.transactionDate.toLocaleDateString('en-CA') %>" readonly><br>
        <label for="clientName">Client Name:</label>
        <input type="text" id="clientName" name="clientName" value="<%= client_name %>" readonly><br>
        <label for="totalAmount_usd">Total Amount ($):</label>
        <input type="text" id="totalAmount_usd" name="totalAmount_usd" value="<%= found_trans.totalAmount_usd %>" required><br>

        <div style="margin-top: 10px;"></div>

        <input type="submit" value="Update this transaction's information">
      </form>
      
    </div>

    <div style="margin-top: 20px;"></div>

  </body>
  </html>
  
  